/* GENERAL STYLES */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

/* UTILITIES */
.container{
  margin: auto;
  width: 1200px;
}

.containersmall{
  margin: auto;
  width: 1000px;
}

.w50{
  float: left;
  width: 50%;
}

.w33{
  float: left;
  width: calc(100% / 3);
  padding: 0 20px;
}
/* Float utilities */
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.floatleft{
  float: left;
}

.floatright{
  float: right;
}

/* menu inline */
.menuinline li{
  display: inline-block;
  padding: 0 10px;
}

.menuinline li:first-child{
  padding-left: 0;
}

.menuinline li:last-child{
  padding-right: 0;
}

/* Button */
.button{
  display: inline-block;
  color: white;
  min-width: 100px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}

.button-green{
  background-color: #64de82;
  border: none;
}

.button-large{
  padding: 20px;
}

.button:hover{
  color: #64de82;
}

.button-green:hover{
  color: black;
}


/* Tipography */
h1{
  font-weight: 700;
  font-size: 50px;
  color: white;
}

h2,
h3{
  font-weight: 500;
}

h2{
  font-size: 25px;
  color: black;
  margin-bottom: 10px;
}

p{
  color: grey;
}

main p{
  line-height: 30px;
}

.textcenter{
  text-align: center;
}

/* HEADER */

.full-header-container{
  background: #0c325a;
  height: 560px;
  background-image: url('../img/background-header.png');
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: bottom right;
}
/* Top navigation */
.topnav{
  color: white;
  line-height: 80px;
  font-size: 13px;
  text-transform: uppercase;
}

.topnav li a{
  text-decoration: none;
  color: white;
}

.topnav li a:not(.button):hover{
  color: #64de82;
}
/* Top nav left (logo) */
.topnav-logo img{
  vertical-align: middle;
  width: 60%;
}

.topnav .topnav-logo{
  width: 15%;
}
/* Top nav center */
.topnav .topnav-center{
  width: 45%;
}
/* Top nav right */
.topnav .topnav-right{
  width: 40%;
  text-align: right;
}

/* jumbotron */
.jumbotron{
  position: relative;
  height: 480px;
}

.jumbotron-text{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50%;
}

.jumbotron-text h1{
  margin-bottom: 30px;
}

/* MAIN */

/* Efficency section (1/3) main */
.efficency{
  padding: 35px;
  background-color: #d3d3d3;
}

.efficency p{
  font-size: 18px;
}
/* Info section (2/3 main) */
.info{
  margin: 50px 0;
}

.w33 img{
  height: 150px;
  margin-bottom: 30px;
}

.w33 h3{
  font-size: 25px;
  color: #64de82
}

.w33 h3::after{
  content: '';
  display: block;
  margin: 20px auto;
  width: 50px;
  height: 1px;
  background: grey;
}

.info::after{
  content: '';
  display: block;
  margin: 40px auto;
  width: 90vw;
  height: 1px;
  background: grey;
}
  /* <!-- Plan section (3/3 main) --> */
.plan{
  margin-bottom: 30px;
}

.plan-left img{
  width: 80%;
}

.plan-right h2{
  font-size: 40px;
}

.link-placement{
  margin-top: 25px;
}

/* FOOOTER */
.footer-container{
  background-color: #d3d3d3;
}

.footer-elements{
  position: relative;
  height: 150px;
}
/* Left footer elements */
.left-foot-elements{
  position: absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
}
/* Right footer elements */
.right-foot-elements{
  position: absolute;
  top:50%;
  right:0;
  transform: translateY(-50%);
}
.right-foot-elements span{
  padding-right: 30px;
  color: grey;
}

.right-foot-elements span i{
  padding-left: 40px;
}

.footer-select{
  display: inline-block;
}

.footer-select {
	padding: 5px 0;
	margin: 0 20px;
	border-bottom: 1px solid grey;
}

/* Help button */
.help-button{
  position: fixed;
  bottom: 3%;
  right: 3%;
}

.help-button a{
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  background-color: #64de82;
}
