/* GENERAL STYLES */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}


/* UTILITIES */
.container{
  margin: auto;
  width: 1200px;
}

.w50{
  width: 50%;
}

.w33{
  width: calc(100% / 3);
  padding: 0 20px;
  float: left;
}

.clearfix::after{
  content:('');
  display: table;
  clear: both;
}

.floatleft{
  float: left;
}

/* menu inline */
.menuinline li{
  display: inline-block;
  padding: 0 10px;
}

.menuinline li:first-child{
  padding-left: 0;
}

.menuinline li:last-child{
  padding-right: 0;
}

/* Button */
.button{
  display: inline-block;
  color: white;
  min-width: 100px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}

.button-green{
  background-color: #64de82;
  border: none;
}

.button-large{
  padding: 20px;
}

/* Tipography */
h1{
  font-weight: 700;
  font-size: 50px;
  color: white;
}

h2,
h3{
  font-weight: 500;
}

h2{
  font-size: 28px;
  color: black;
}

.textcenter{
  text-align: center;
}


/* HEADER */
.full-header-container{
  background: #0c325a;
  height: 560px;
  background-image: url('../img/background-header.png');
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: bottom right;
}

.topnav{
  color: white;
  line-height: 80px;
  height: 80px;
  font-size: 13px;
  text-transform: uppercase;
}


.topnav li a{
  text-decoration: none;
  color: white;
}

.topnav-logo img{
  vertical-align: middle;
  width: 60%;
}

.topnav .topnav-logo{
  width: 15%;
}

.topnav .topnav-center{
  width: 45%;
}

.topnav-center li a:hover{
  color: #64de82;
}

.topnav .topnav-right{
  width: 40%;
  text-align: right;
}

.topnav-right li a:hover{
  color: #8d8d8d;
}
/* jumbotron */
.jumbotron{
  position: relative;
  height: 480px;
}

.jumbotron-text{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50%;
}

.jumbotron-text h1{
  margin-bottom: 30px;
}


/* MAIN */

/* <!-- Efficency (1/3 main) --> */

/* <!-- Info section (2/3 main) --> */

  /* <!-- Plan section (3/3 main) --> */
